<%= render partial: "partials/header", locals: { text: "Edit #{@page.title}" } %>

<%= form_with(model: @page, local: true, url: admin_page_path(@page), method: 'patch') do |f| %>
  <%= render partial: 'partials/errors', locals: { object: @page } %>

  <div class="form-group">
    <label>Title</label>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Content</label>
    <%= f.rich_text_area :content %>
  </div>

  <div class="form-group">
    <label>Meta title</label>
    <%= f.text_field :meta_title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Meta description</label>
    <%= f.text_area :meta_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Save page', class: 'btn btn-lg btn-primary' %>
    <%= link_to 'Cancel', admin_pages_path, class: 'btn btn-lg btn-secondary' %>
  </div>
<% end %>
