<%= render partial: "partials/header", locals: { text: "Edit #{@slide.title}" } %>

<%= form_with(model: @slide, local: true, url: admin_feature_slide_path(@slide), method: 'patch') do |f| %>
  <%= render partial: 'partials/errors', locals: { object: @slide } %>

  <div class="form-group">
    <label>Title</label>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Image</label>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <% if @slide.image.attached? %>
    <div class="form-group">
      <label>Current image</label>
      <div class="image-preview">
        <%= image_tag url_for(@slide.image) %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.submit 'Save slide', class: 'btn btn-lg btn-primary' %>
    <%= link_to 'Cancel', admin_feature_slides_path, class: 'btn btn-lg btn-secondary' %>
  </div>
<% end %>
