<%= render partial: "partials/header", locals: { text: "Create new slide" } %>

<%= form_with(model: @slide, local: true, url: admin_feature_slides_path) do |f| %>
  <%= render partial: 'partials/errors', locals: { object: @slide } %>

  <div class="form-group">
    <label>Title</label>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Image</label>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit 'Create slide', class: 'btn btn-lg btn-primary' %>
    <%= link_to 'Cancel', admin_feature_slides_path, class: 'btn btn-lg btn-secondary' %>
  </div>
<% end %>
