<%= render partial: "partials/header", locals: { text: 'Testimonials' } %>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Author</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>
    <% @testimonials.each do |testimonial| %>
      <tr>
        <td><%= testimonial.author %></td>
        <td class="action">
          <%= link_to edit_admin_testimonial_path(testimonial) do %>
            <%= fa_icon "cog" %> edit
          <% end %>
        </td>
        <td class="action">
          <%= link_to admin_testimonial_path(testimonial), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <%= fa_icon "trash" %> delete
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "partials/pagination", locals: { items: @testimonials } %>

<%= link_to 'Create new testimonial', new_admin_testimonial_path, class: 'btn btn-primary btn-lg' %>
