<%= render partial: "partials/header", locals: { text: "New testimonial" } %>

<%= form_with(model: @testimonial, local: true, url: admin_testimonials_path) do |f| %>
  <%= render partial: 'partials/errors', locals: { object: @testimonial } %>

  <div class="form-group">
    <label>Author</label>
    <%= f.text_field :author, class: 'form-control' %>
  </div>

  <div class="form-group">
    <label>Content</label>
    <%= f.rich_text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit 'Create testimonial', class: 'btn btn-lg btn-primary' %>
    <%= link_to 'Cancel', admin_testimonials_path, class: 'btn btn-lg btn-secondary' %>
  </div>
<% end %>
