<%= render partial: "partials/header", locals: { text: 'Contacts' } %>

<table class="table table-striped">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td class="action">
          <%= link_to admin_contact_path(contact) do %>
            <%= fa_icon "envelope" %> view
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render partial: "partials/pagination", locals: { items: @contacts } %>
