<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag "admin-styles", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "admin-bundle", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <%= link_to "Dashboard", admin_root_path, class: "navbar-link navbar-brand col-sm-3 col-md-2 mr-0" %>
      <%= link_to("Log out", destroy_admin_session_path, method: :delete, class: "navbar-link navbar-logout") if admin_signed_in? %>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <%= render partial: 'partials/admin_sidebar' if admin_signed_in? %>
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <%= render "partials/flash_messages" %>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
