<!doctype html>
<html class="no-js" lang="">

  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="icon.png">
    <link href="https://fonts.googleapis.com/css?family=Quattrocento+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <%= stylesheet_pack_tag "styles", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "bundle", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <div class="inner">
          <div class="logo">
            <%= link_to content_tag(:h1, 'Cousins Roofing'), root_path %>
          </div>
          <div class="info">
            <span>
              <a href="mailto:info@cousinsroofing.co.uk">
                <%= fa_icon "envelope" %><span>info@cousinsroofing.co.uk</span>
              </a>
            </span>
            <span>
              <a href="tel:07774324872">
                <%= fa_icon "phone" %></i><span>07774 324872</span>
              </a>
            </span>
            <span class="mobile-menu">
              <a href="#">
                <%= fa_icon "bars" %>
              </a>
            </span>
          </div>
          <div class="navigation">
            <%= fa_icon "times", class: 'mobile-close' %>
            <ul>
              <li><%= link_to 'Home', root_path %></li>
              <li><%= link_to 'Tiling', page_route('tiling') %></li>
              <li><%= link_to 'Slating', page_route('slating') %></li>
              <li><%= link_to 'Leadwork', page_route('leadword') %></li>
              <li><%= link_to 'Velux Windows', page_route('velux-windows') %></li>
              <li><%= link_to 'Testimonials', page_route('testimonials') %></li>
              <li><%= link_to 'Contact', new_contact_path %></li>
            </ul>
          </div>
        </div>
      </div>
      <%= yield %>
      <div class="footer">
        <div class="inner">
          <div class="footer-block footer-about-us">
            <h4>About us</h4>
            <p>Cousins Roofing is a leading Buckinghamshire based family run business with a broad range of expertise in all aspects of roofing services. No job is too big or too small.</p>
          </div>
          <div class="footer-right">
            <div class="footer-block footer-services">
              <h4>Services</h4>
              <ul>
                <li><%= link_to 'Tiling', page_route('tiling') %><a href="#"></a></li>
                <li><%= link_to 'Slating', page_route('slating') %><a href="#"></a></li>
                <li><%= link_to 'Leadwork', page_route('leadwork') %><a href="#"></a></li>
                <li><%= link_to 'Velux Windows', page_route('velux-windows') %><a href="#"></a></li>
                <li><%= link_to 'Chimney re-pointing', page_route('chimney-re-pointing') %><a href="#"></a></li>
                <li><%= link_to 'Ridge, valley & hip repairs', page_route('ridge-valley-hip-repairs') %><a href="#"></a></li>
              </ul>
            </div>
            <div class="footer-block footer-contact-us">
              <h4>Contact us</h4>
              <p>
                <strong>Tel No</strong>
                07774 324872
              </p>
              <p>
                <strong>Email</strong>
                <a href="mailto:cousinsdale@hotmail.com">cousinsdale@hotmail.com</a>
              </p>
              <div class="contact-links">
                <%= link_to 'Get a free quote', new_contact_path, class: 'button free-quote' %>
                <a href="#" class="facebook"><%= image_pack_tag 'media/images/facebook.png', alt: 'Facebook' %></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="design-footer">
        <div class="inner">
          <p>Website by <span>Kayode</span>sign</p>
        </div>
      </div>
    </div>
    <%= javascript_pack_tag "main", 'data-turbolinks-track': "reload" %>
  </body>
</html>

